



.header{
	height: 80px;
    background-image: url("../photos/header.jpg");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #06F;
	
}

.div_content {
    margin: auto;
    width: 990px;
    padding: 0 5px;
    background:#A1B8FF ;
	
}

.div_header_title {
    height: 50px;
    background: #93bede;
    
	border-bottom: 2px double white;
    background-repeat: no-repeat;
	background-image: url("../photos/title.jpg");
}

.div_header_title_content_text {
    height: 34px;
    float: left;
    color: #06F;
  	font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 50px;
    font-weight: bold;
}

.header_admin{
	height: 110px;
    background-image: url("../photos/header_admin.jpg");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
 
	
}

.div_content_admin {
    margin: auto;
    width: 100%;
    
    background: #FFF;
	
}

.div_header_title_admin {
    height: 55px;
    background: #93bede;
    
	border-bottom: 3px double black;
    background-repeat: no-repeat;
	background-image: url("../photos/admintitle.jpg");
}

.div_header_title_content_text_admin {
    height: 34px;
    float: left;
    color: red;
  	font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-left:  30px;
    font-weight: bold;
}


.div_contentaaa{
	 
    width:100%;
	height: 720px;
	padding: 5px;
	background-image:url("../photos/INDEX.jpg");
    background-repeat: no-repeat;
	
	
}
 
 


.div_content_login {
   margin: auto;
    width:100%;
	background-image:url("../photos/Untitled-1aa.jpg");
    background-repeat: no-repeat;
}

.div_content_adminlogin {
 	 
  	width:100%;
	height: 720px;
	padding: 5px;
	background-image:url("../photos/admin.jpg");
    background-repeat: no-repeat;
}

 

.mainframe{
	
	height: 700px;
	width: 100%;
	 
}
.section1 {
    width: 20%;
	float: left;
	background-color: #0b1f5f ;
}

.section1_admin {
    width: 14%;
	float: left;
	background: #0b1f5f ;
	 font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
}

.section2_admin{
	float: right;
    width: 86%;
    height: 700px;
	background-color: skyblue;
	 
	 
	
}


.menu{
    margin: 0 0 4px 0;
    background: url("../photos/sub.jpg") no-repeat;
    height: 31px;
    line-height: 25px;
    width: 198px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.section2{
	float: right;
    width: 79.31%;
    height: 700px;

	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	border-bottom: 1px dotted white;
	
}

.section3{
	width: 100%;
	height: 100px;
	background-image: url("../photos/sub4.jpg");
	background-size: 100% 100px;
	margin-bottom: auto;	
}